#main-box {
    border: 2px solid black;
    position: relative;
    border-radius: 5px;
    padding: 20px;
}

#upper-content {
    display: flex;
}

#lower-content {
    display: flex;
    justify-content: space-evenly;
}

#add-contact-box {
    padding: 10px;
    margin-left: 10px;
    width: 300px;
}

#add-button {
    margin-left: 50px;
}

.form-select {
    width: auto;
}