<div id="main-content" class="row">
    <div id="add-contact" class="col-sm-3">
        <h5>
            <strong>Add Contact</strong>
        </h5>
        <br><br>
        <p>
            <strong>Email</strong>
            <br>
            <input type="text" [(ngModel)]="newEmail.address">
        </p>
        <p>
            <strong>First Name</strong>
            <br>
            <input type="text" [(ngModel)]="newContact.first_name">
        </p>
        <p>
            <strong>Last Name</strong>
            <br>
            <input type="text" [(ngModel)]="newContact.last_name">
        </p>
        <button type="button" class="btn btn-primary" name="add-contact" [disabled]="isDisabledAdd()" (click)="onAddClick()">
          Add
        </button>
    </div>
    <div id="list-add" class="col-md">
        <div class="row">
            <br><br>
        </div>
        <br><br>
        <ng-multiselect-dropdown [placeholder]="'Contact Lists'" [settings]="dropdownSettings" [data]="listOfContactLists" [(ngModel)]="selectedItemsAdd"></ng-multiselect-dropdown>
    </div>
    <div id="remove-contact" class="col-sm-3">
        <h5>
            <strong>Remove Contact</strong>
        </h5>
        <br><br>
        <p>
            <strong>Email</strong>
            <br>
            <input type="text" [(ngModel)]="oldContact.address">
        </p>
        <button type="button" class="btn btn-primary" name="remove-contact" [disabled]="isDisabledRemove()" (click)="onRemoveClick()">
          Remove
        </button>
    </div>
    <div id="list-remove" class="col-md">
        <div class="row">
            <br><br>
        </div>
        <br><br>
        <ng-multiselect-dropdown [placeholder]="'Contact Lists'" [settings]="dropdownSettings" [data]="listOfContactLists" [(ngModel)]="selectedItemsRemove"></ng-multiselect-dropdown>
    </div>
</div>