<p>input-form works!</p>


<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <br>
      <br>
      <br>
      <br>
      <br>
      <form class="border">
        <h1>Add a client to an email list</h1>
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="inputFirstName">First Name</label>
          <input type="name" class="form-control" id="inputFirstName" placeholder="Enter first name">
        </div>
        <div class="form-group">
          <label for="inputLastName">Last Name</label>
          <input type="name" class="form-control" id="inputLastName" placeholder="Enter last name">
        </div>
        <div class="form-group">
          <label for="inputCCEmailList">CC Email List</label>
          <input type="name" class="form-control" id="inputCCEmailList" placeholder="Enter CC Email List">
        </div>
        <button type="submit" class="btn btn-primary">   Add   </button>
      </form>
      <a class="btn btn-primary" 
        href="https://authz.constantcontact.com/oauth2/default/v1/authorize?client_id=5254dee1-35c3-45ae-a687-c9bf8bc70d30&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fcallback&response_type=code&scope=account_read+account_update+contact_data+offline_access+campaign_data&state=testing">
          OAuth Test
      </a>
    </div>
    <div class="col-md-2">
        
    </div>
  </div>
</div>
