<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <br>
            <br>
            <br>
            <br>
            <br>
            <router-outlet></router-outlet>
            <br>
            <br>
            <a class="btn btn-primary" style="margin-right:5px;" href="https://authz.constantcontact.com/oauth2/default/v1/authorize?client_id=5254dee1-35c3-45ae-a687-c9bf8bc70d30&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fcallback&response_type=code&scope=account_read+account_update+contact_data+offline_access+campaign_data&state=testing">
                Authorize Application
            </a>
            <!-- <button class="btn btn-primary" style="margin-right:5px;" (click)="GetContactsTest()">Get contacts test</button>
            <button class="btn btn-primary" style="margin-right:5px;" (click)="CreateContactTest()">Creat contact test</button>
            <button class="btn btn-primary" style="margin-right:5px;" (click)="GetListsTest()">Get Lists test</button> -->
        </div>
        <div class="col-sm-1"></div>
    </div>