<div id="main-box">
    <h4>List of Contact Lists</h4>
    <div id="main-content">
        <div id="lists">
            <select class="form-select" name="contacts" id="contacts">
                <option value="corn-farmers">Corn Farmers</option>
                <option value="dairy-farmers">Dairy Farmers</option>
                <option value="dog-farmers">Farmers With A Dog</option>
              </select>
        </div>
        <div id="list-buttons-box">

        </div>
    </div>
    <div style="margin-bottom:50px"></div>
    <div id="lower-content">
        <span>
        <button id="list-button" type="button" class="btn btn-primary" name="create-new-list">
        View List Contents
        </button>
      </span>
        <button id="list-button" type="button" class="btn btn-primary" name="create-new-list">
        Create New List
      </button>
        <span>
        <button id="list-button" type="button" class="btn btn-primary" name="update-list">
            Update Contact List
        </button>
      </span>
        <span>
        <button id="list-button" type="button" class="btn btn-primary" name="delete-list">
            Delete Contact List
        </button>
      </span>
    </div>
    <div style="margin-bottom:20px"></div>
</div>