<div id="main-content" class="row">
    <div id="add-contact" class="col-sm-3">
        <h5>
            <strong>Opt In</strong>
        </h5>
        <br><br>
        <p>
            <strong>User Email</strong>
            <br>
            <input type="text" [(ngModel)]="userOptIn">
        </p>
        <button type="button" class="btn btn-primary" name="add-contact" [disabled]="isDisabledAdd()" (click)="onOptInClick()">
          Add
        </button>
    </div>
    <div id="list-add" class="col-md">
        <h5>
            <strong>Contact Lists</strong>
        </h5>
        <br><br>
        <ng-multiselect-dropdown [placeholder]="'Contact Lists'" [settings]="dropdownSettings" [data]="contactLists.lists" (onSelect)="onItemSelectAdd($event)" (onDeSelect)="onItemDeSelectAdd($event)"></ng-multiselect-dropdown>
    </div>
    <div id="remove-contact" class="col-sm-3">
        <h5>
            <strong>Opt Out</strong>
        </h5>
        <br><br>
        <p>
            <strong>User Email</strong>
            <br>
            <input type="text" [(ngModel)]="userOptOut">
        </p>
        <button type="button" class="btn btn-primary" name="remove-contact" [disabled]="isDisabledRemove()" (click)="onOptOutClick()">
          Remove
        </button>
    </div>
    <div id="list-remove" class="col-md">
        <h5>
            <strong>Contact Lists</strong>
        </h5>
        <br><br>
        <ng-multiselect-dropdown [placeholder]="'Contact Lists'" [settings]="dropdownSettings" [data]="contactLists.lists" (onSelect)="onItemSelectRemove($event)" (onDeSelect)="onItemDeSelectRemove($event)"></ng-multiselect-dropdown>
    </div>
</div>