<div id="main-content" class="row">
    <div id="add-contact" class="col-md-6">
        <h5>
            <strong>Add List</strong>
        </h5>
        <br><br>
        <p>
            <strong>New List Name</strong>
            <br>
            <input type="text" name="new-lname">
        </p>
        <button type="button" class="btn btn-primary" name="add-contact" (click)="onAddCLick()">
          Add
        </button>
    </div>
    <div id="remove-contact" class="col-md-6">
        <h5>
            <strong>Remove Lists</strong>
        </h5>
        <br><br>
        <p>(Insert List Box Here)</p>
        <button type="button" class="btn btn-primary" name="remove-contact" (click)="onRemoveClick()">
          Remove
        </button>
    </div>
</div>